@charset "UTF-8";

body {
    background-color: rgba(94, 188, 224, 88);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgba(41, 81, 97, 38);
}

#principal {
    text-align: center;
    background-color: rgba(67, 134, 161, 63);
    color: white;
}

h2 {
    color: rgba(67, 134, 161, 63);
    font-weight: bold;
}

.basico {
    color: #3c805e;
    font-weight: bold;
}

.intermediario {
    color: #80793c;
}

.avancado {
    color: #863c3c;
}